<div class="row">
  <div class="col-md-4">
    <select
      [(ngModel)]="breedSelected"
      (ngModelChange)="loadImages()"
      class="form-control"
      id="exampleFormControlSelect1"
    >
      <option>Select a breed</option>
      <option *ngFor="let b of breedList" [value]="b">{{ b }}</option>
    </select>

    <ul class="list-group">
      <li *ngFor="let image of breedImages" class="list-group-item">
        <img [src]="image" />
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User id</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of usersList">
          <th scope="row">{{ u.userId }}</th>
          <td>{{ u.userName }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.userPhone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
